<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Blood Management System</title>
<link rel="stylesheet" 
href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Blood Management</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="@{/donar}">Blood management</a>
      </li>
    </ul>
  </div>
</nav>
<br>
<br>

<div class="container">
	<div class="row">
		<div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
			<h1 class="text-center">update donar</h1>
			<div class="card-body">
				<form th:action="@{/donar/{donarid} (donarid=${donar.donarid})}" th:object = "${donar}" method = "POST">
					<div class = "form-group">
					<label>Donar id</label>
					<input type="text" name="donarid" th:field="*{donarid}" class="form-control" placeholder="enter donar id">
					</div>
					<div class = "form-group">
					<label>Donar Name</label>
					<input type="text" name="donarname" th:field="*{donarname}" class="form-control" placeholder="enter donar name">
					</div>
					<div class = "form-group">
					<label>Gender</label>
					<input type="text" name="gender" th:field="*{gender}" class="form-control" placeholder="enter gender">
					</div>
					<div class = "form-group">
					<label>Age</label>
					<input type="text" name="age" th:field="*{age}" class="form-control" placeholder="enter age">
					</div>
					<div class = "form-group">
					<label>Dob</label>
					<input type="date" name="dateofbirth" th:field="*{dateofbirth}" class="form-control" placeholder="enter dateofbirth">
					</div>
					<div class = "form-group">
					<label>Blood group</label>
					<input type="text" name="bloodgroup" th:field="*{bloodgroup]" class="form-control" placeholder="enter bloodgroup">
					</div>
					<div class = "form-group">
					<label>LBDD</label>
					<input type="date" name="lastblooddonationdate" th:field="*{lastblooddonationdate}" class="form-control" placeholder="enter lastblooddonationdate">
					</div>
					<div class = "form-group">
					<label>email id</label>
					<input type="text" name="emailid" th:field="*{emailid}" class="form-control" placeholder="enter emailid">
					</div>
					<div class = "form-group">
					<label>phone no</label>
					<input type="text" name="phoneno" th:field="*{phoneno}" class="form-control" placeholder="enter phoneno">
					</div>
					<div class = "form-group">
					<label>state</label>
					<input type="text" name="state" th:field="*{state}" class="form-control" placeholder="enter state">
					</div>
					<div class = "form-group">
					<label>city</label>
					<input type="text" name="city" th:field="*{city}" class="form-control" placeholder="enter city">
					</div>
					<div class="box-footer">
					<button type="submit" class="btn btn-primary">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
</body>
</html>